<section class="ct_hero_banner" style="background-image: url(img/contact_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_banner_title">
                    <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium" style="max-width: 542px;">
                        {{'SupportLine1' | translate}} <img src="img/home_icon.png" height="58px" /> {{'SupportLine2' |
                        translate}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-5 mb-4 mb-md-0">
                <div class="ct_contact_left_cnt">
                    <div class="ct_px_50">
                        <h2 class="ct_fs_30 ct_ff_Myeongjo"> RENTALARIA</h2>
                        <ul>
                            <li>
                                <img src="img/locations_icon.png" alt="">
                                <p class="mb-0 ct_text_clr_757575 ct_ff_ppneuemontreal-book">Málaga, Spain</p>
                            </li>
                            <li class="ct_mt_20">
                                <img src="img/phone_icon.png" alt="">
                                <p class="mb-0 ct_text_clr_757575 ct_ff_ppneuemontreal-book">+34 600 123 456</p>
                            </li>
                            <li class="ct_mt_20">
                                <img src="img/mail_icon.png" alt="">
                                <p class="mb-0 ct_text_clr_757575 ct_ff_ppneuemontreal-book">inforentalaria.com</p>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center gap-3 ct_social_icons">
                            <a><i class="fa-brands fa-facebook-f"></i></a>
                            <a><i class="fa-brands fa-instagram"></i></a>
                            <a><i class="fa-brands fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="ct_right_contact_btm_img">
                        <img src="img/contact_right_bottom_img.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 offset-md-1 mb-4 mb-md-0">
                <div class="py-5">
                    <h4 class="ct_fs_28 ct_ff_PPEditorialNew_Regular ct_mb_35">{{'SupportSubtitle' | translate}}
                    </h4>
                    <form [formGroup]="Form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <input type="text"
                                        class="form-control ct_input ct_tansparent_input ct_ff_ppneuemontreal-book"
                                        placeholder="{{'FullName' | translate}}" formControlName="fullName">
                                    <div *ngIf="Form.controls['fullName'].invalid && Form.controls['fullName'].touched"
                                        class="err_msg">
                                        <div *ngIf="Form.controls['fullName'].errors?.['required']">Please enter
                                            your full name.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <input type="email"
                                        class="form-control ct_input ct_tansparent_input ct_ff_ppneuemontreal-book"
                                        placeholder="{{'EmailId' | translate}}" formControlName="email">
                                    <div *ngIf="Form.controls['email'].invalid && Form.controls['email'].touched"
                                        class="err_msg">
                                        <div *ngIf="Form.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                                            {{'EmailRequired' | translate}}
                                        </div>
                                        <div *ngIf="Form.controls['email'].errors?.['email'] && !Form.controls['email'].errors?.['required']"
                                            class="ct_fs_14 mt-1">
                                            {{'EmailInvalid' | translate}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <input type="number"
                                        class="form-control ct_input ct_tansparent_input ct_ff_ppneuemontreal-book"
                                        placeholder="{{'PhoneNumberLabel' | translate}}" formControlName="number">
                                    <div *ngIf="Form.controls['number'].invalid && Form.controls['number'].touched"
                                        class="err_msg">
                                        <div *ngIf="Form.controls['number'].errors?.['required']">Please enter
                                            your phone number.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-4">
                                    <textarea rows="4"
                                        class="form-control ct_input ct_tansparent_input h-auto ct_ff_ppneuemontreal-book"
                                        placeholder="{{'YourMessage' | translate}}"
                                        formControlName="message"></textarea>
                                    <div *ngIf="Form.controls['message'].invalid && Form.controls['message'].touched"
                                        class="err_msg">
                                        <div *ngIf="Form.controls['message'].errors?.['required']">Please enter
                                            message.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ct_mt_35" (click)="submit()">
                                <a class="ct_black_btn ct_border_radius_5 px-5">{{'Submit' | translate}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- </section> -->

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_stay_in_tuoch_grid_2">
                    <div class="ct_stay_in_touch_bg">
                        <h2 class="ct_fs_30 ct_fw_700 ct_ff_ppneuemontreal-medium mb-3 text-white">
                            {{'StayInTouch' | translate}}</h2>
                        <p class="ct_fs_18 ct_ff_ppneuemontreal-book">{{'NewsletterDescription' | translate}}
                        </p>
                        <div class="ct_newsletter_cont">
                            <input type="text" class="font-control ct_input"
                                placeholder="{{'NewsletterEmailPlaceholder' | translate}}">
                            <button class="ct_newsletter_btn">
                                <svg width="27" height="23" viewBox="0 0 27 23" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 22.5L26.25 11.25L0 0V8.75L18.75 11.25L0 13.75V22.5Z" fill="white" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9581880.713102693!2d-15.001137513347569!3d54.10341835529073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x25a3b1142c791a9%3A0xc4f8a0433288257a!2sUnited%20Kingdom!5e0!3m2!1sen!2sin!4v1766040721809!5m2!1sen!2sin"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>