<!-- Forgot Pasword modal S -->
<div class="modal fade modal-xl ct_login_modal " id="ct_forgot_password_modal" tabindex="-1"
    aria-labelledby="ct_forgot_password_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 py-0">
                <button type="button" class="btn-close ct_login_btn_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="ct_login_main">
                    <form [formGroup]="Form">
                        <div class="ct_logo mx-auto mb-2">
                            <img src="img/logo.png" alt="" style="max-width: 276px;">
                        </div>
                        <h2 class="ct_fs_24 text-center mb-2 ct_ff_ppneuemontreal-medium ct_mb_56">{{"ForgotPassword" |
                            translate}}</h2>
                        <p class="ct_text_clr_4B5563 ct_mb_56 ct_ff_ppneuemontreal-book">{{"RecoverPasswordDescription"
                            | translate}}</p>
                        <div class="form-group ">
                            <label for=""
                                class="mb-2 ct_ff_ppneuemontreal-book ct_fs_16 ct_text_clr_4B5563">{{'EmailLabel' |
                                translate}}</label>
                            <input type="email" placeholder="{{'EmailLabel' | translate}}" class="form-control ct_input"
                                formControlName="email">
                        </div>
                        <div *ngIf="Form.controls['email'].invalid && Form.controls['email'].touched" class="err_msg">
                            <div *ngIf="Form.controls['email'].errors?.['required']" class="ct_fs_14 mt-1">
                                {{'EmailRequired' | translate}}
                            </div>
                            <div *ngIf="Form.controls['email'].errors?.['email'] && !Form.controls['email'].errors?.['required']"
                                class="ct_fs_14 mt-1">
                                {{'EmailInvalid' | translate}}</div>
                        </div>
                        <div class="ct_mt_30" (click)="onSubmit()">
                            <a class="ct_black_btn w-100 ct_border_radius_5">{{"Send" | translate}}</a>
                        </div>
                        <button #closeModal type="button" hidden class="ct_outline_btn ct_ff_Matter_Medium"
                            data-bs-dismiss="modal">
                        </button>
                        <!-- <p class="mb-0 mt-2 text-center ct_ff_ppneuemontreal-book">
                            {{"AlreadyHaveAccount" | translate}}
                            <a href="javascript:void(0)" class=" text-dark ct_ff_ppneuemontreal-medium"
                                data-bs-toggle="modal" data-bs-target="#ct_login_modal">
                                {{"SignIn" | translate}}
                            </a>
                            
                        </p> -->
                    </form>
                    <div class="ct_login_left_cnt">
                        <img src="img/login_right_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Pasword modal E -->

<app-verify-otp></app-verify-otp>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>