<section class="ct_hero_banner" style="background-image: url(img/about_banner_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_banner_title">
                    <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium"> {{ 'WhereCurated' | translate}} <img
                            src="img/home_icon.png" height="58px" /> {{ 'MeetUnmatched' | translate }}</h2>
                </div>

            </div>
        </div>

    </div>

</section>

<section class="ct_mt_184 ct_mb_113">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="ct_about_img">
                    <div class="ct_about_img_1">
                        <img src="img/about_sec_img_1.png" alt="">
                        <div class="ct_mini_img_1">
                            <img src="img/about_mini_img.png" alt="">
                        </div>
                    </div>
                    <div class="ct_about_img_2">
                        <img src="img/about_sec_img_2.png" alt="">
                    </div>

                </div>

            </div>
            <div class="col-lg-6 mb-4 mb-lg-0 ps-lg-5">
                <div class="ct_about_right_content">
                    <h6 class="ct_fs_16 ct_ff_Kantumruy ct_mb_18 ct_text_clr_33393F">{{ 'AboutRentalariaTitle' |
                        translate }}</h6>
                    <h2 class="ct_fs_40 ct_ff_PPEditorialNew_Regular ct_mb_18 ct_text_clr_212529">
                        {{'AboutRentalariaSubtitle' | translate}}</h2>
                    <p class="ct_ff_Kantumruy mb-0 ct_text_clr_33393F ct_fw_400">{{'AboutRentalariaDescription' |
                        translate}}</p>

                    <ul class="ct_mt_40">
                        <li>
                            <h3 class="ct_fs_48 ct_mb_10 ct_ff_PPEditorialNew_Regular">40+</h3>
                            <p class="mb-0 ct_ff_ppneuemontreal-book ct_fw_300">{{'ManagedProperties' | translate}}</p>
                        </li>
                        <li>
                            <h3 class="ct_fs_48 ct_mb_10 ct_ff_PPEditorialNew_Regular">10+</h3>
                            <p class="mb-0 ct_ff_ppneuemontreal-book ct_fw_300">{{'YearsExperience' | translate}}</p>
                        </li>
                        <li>
                            <h3 class="ct_fs_48 ct_mb_10 ct_ff_PPEditorialNew_Regular">300+</h3>
                            <p class="mb-0 ct_ff_ppneuemontreal-book ct_fw_300">{{'HappyTenants' | translate}}</p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>

    </div>
</section>


<section class="ct_welcome_to_rental_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div>
                    <h6 class="ct_fs_16 ct_ff_Kantumruy ct_mb_18 ct_text_clr_33393F">{{'WelcomeTitle' | translate}}</h6>
                    <h2 class="ct_fs_40 ct_ff_PPEditorialNew_Regular ct_mb_18 ct_text_clr_212529">{{'WelcomeSubtitle' |
                        translate}}</h2>
                    <p class="ct_ff_Kantumruy ct_text_clr_33393F ct_fw_400">{{'WelcomeDescription' | translate}}</p>
                    <p class="ct_ff_Kantumruy mb-0 ct_text_clr_33393F ct_fw_400">{{'WelcomeTagline' | translate}}</p>
                </div>

            </div>
            <div class="col-lg-5 mb-4 mb-lg-0 offset-lg-1">
                <div class="ct_rental_right_img">
                    <img src="img/Welcome_img_right.png" alt="">
                </div>

            </div>

        </div>

    </div>

</section>