

.ct_blog_img img {
  width: 100%;
  height: 610px;
  border-radius: 16px;
  object-fit: cover;
}

.ct_meta {
  font-size: 12px;
  color: #999;
  margin: 14px 0 6px;
}

.ct_title {
  font-weight: 600;
  margin-bottom: 14px;
}

.ct_subtitle {
  font-weight: 600;
  margin: 24px 0 14px;
}

.ct_text {
  font-size: 14px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 16px;
}

.ct_list {
  padding-left: 18px;
  margin-bottom: 24px;
}

.ct_list li {
  font-size: 14px;
  margin-bottom: 8px;
}

.ct_img_text {
  background: #f7f7f7;
  border-radius: 14px;
  padding: 16px;
  margin: 26px 0;
}


.ct_text_clr_35383C{
    color: #35383C;
}

.ct_text_44525E{
    color: #44525E;
}


.ct_blog_sidebar {
  background: #fff;
  border-radius: 16px;
  padding: 47px 30px;
  box-shadow: 0 0 0 1px #eee;
}

.ct_blog_label {
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-bottom: 22px;
}

.ct_search {
  padding-right: 40px;
  border-radius: 20px;
  font-size: 14px;
      background-color: #EAF0F5C4;
      border-color: 1px solid #C7D5E1;
      color: #44525E;
}
.ct_search::placeholder{
    opacity: 0.7;
}

.ct_search_icon_blog {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  opacity: .6;
}

.ct_feature_item {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}

.ct_feature_item img {
  width: 64px;
  height: 64px;
  border-radius: 10px;
  object-fit: cover;
}

.ct_feature_item small {
  font-size: 11px;
  color: #999;
}

.ct_feature_item p {
  font-size: 13px;
  margin: 0;
}

.ct_tag {
  padding: 5px 30px;
  font-size: 12px;
  border-radius: 20px;
  background: #000;
  color: #fff;
}

.ct_tag.dark {
  background: #000;
  color: #fff;
}

.ct_insta {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.ct_ad_banner img{
    height: 415px;
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}