<!-- Table -->
<div class="">
    <div class="d-flex justify-content-between align-items-center mb-0">
        <h5 class="mb-0 ct_fs_28">My Inquiries</h5>
    </div>

    <div class="ct_search_wrap ct_mt_20">
        <div class="ct_search_box">
            <span class="ct_search_icon">
                <i class="fa-solid fa-search"></i>
            </span>
            <input type="text" placeholder="Search by property name..."
                class="ct_search_input ct_ff_ppneuemontreal-book" />
        </div>

        <button class="ct_black_btn ct_border_radius_10">Search</button>
    </div>


    <div class="table-responsive mt-3 ct_custom_table">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="ct_overlay_text">Casa Alameda</span>
                    </td>
                    <td><span class="ct_overlay_text">Malaga, Malaga</span></td>
                    <td>31 Jan 25</td>
                    <td>Remote Work Stay</td>
                    <td><span style="color: #B69515;">Pending Review</span></td>
                    <td>
                        <a routerLink="/admin/inquery-details" class="text-dark"><i class="fa-regular fa-eye"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="ct_overlay_text">Casa Alameda</span>
                    </td>
                    <td><span class="ct_overlay_text">Malaga, Malaga</span></td>
                    <td>31 Jan 25</td>
                    <td>Remote Work Stay</td>
                    <td><span style="color: #008000;">Closed</span></td>
                    <td> <a routerLink="/admin/inquery-details" class="text-dark"><i class="fa-regular fa-eye"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="ct_overlay_text">Casa Alameda</span>
                    </td>
                    <td><span class="ct_overlay_text">Malaga, Malaga</span></td>
                    <td>31 Jan 25</td>
                    <td>Remote Work Stay</td>
                    <td><span style="color: #008000;">Closed</span></td>
                    <td> <a routerLink="/admin/inquery-details" class="text-dark"><i class="fa-regular fa-eye"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>