<!-- Banner -->
<div class="ct_banner">
    <div>
        <h3 class="ct_ff_PPEditorialNew_Regular ct_fs_32 text-white" style="max-width: 400px;">Let's Make Your Stay
            Smooth &
            Stress-Free</h3>
        <p class="ct_ff_ppneuemontreal-book">Track your inquiries and saved homes with ease.</p>
        <a routerLink="/admin/add-property" class="ct_mt_20 ct_grey_gradient_btn ct_fit_content">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M10.9765 7.31911V14.6378M7.31716 10.9785H14.6359M20.1249 10.9785C20.1249 16.031 16.029 20.1269 10.9765 20.1269C5.924 20.1269 1.82812 16.031 1.82812 10.9785C1.82812 5.92595 5.924 1.83008 10.9765 1.83008C16.029 1.83008 20.1249 5.92595 20.1249 10.9785Z"
                    stroke="white" stroke-width="1.28077" stroke-linecap="round" stroke-linejoin="round" />
            </svg>


            List Property</a>
    </div>
</div>

<!-- Table -->
<div class="ct_mt_40">
    <div class="d-flex justify-content-between align-items-center mb-0">
        <h5 class="mb-0 ct_fs_30">Recent Inquiries</h5>
        <a routerLink="/admin/my-inquires" class="ct_view_all ct_ff_ppneuemontreal-book">View All <i
                class="fa-solid fa-angle-right"></i></a>
    </div>

    <div class="table-responsive mt-3 ct_custom_table">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span class="ct_overlay_text">Casa Alameda</span>
                    </td>
                    <td><span class="ct_overlay_text">Malaga, Malaga</span></td>
                    <td>31 Jan 25</td>
                    <td>Remote Work Stay</td>
                    <td><span style="color: #B69515;">Pending Review</span></td>
                </tr>
                <tr>
                    <td>
                        <span class="ct_overlay_text">Casa Alameda</span>
                    </td>
                    <td><span class="ct_overlay_text">Malaga, Malaga</span></td>
                    <td>31 Jan 25</td>
                    <td>Remote Work Stay</td>
                    <td><span style="color: #008000;">Closed</span></td>
                </tr>
                <tr>
                    <td>
                        <span class="ct_overlay_text">Casa Alameda</span>
                    </td>
                    <td><span class="ct_overlay_text">Malaga, Malaga</span></td>
                    <td>31 Jan 25</td>
                    <td>Remote Work Stay</td>
                    <td><span style="color: #008000;">Closed</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>