<!-- Forgot Pasword modal S -->
<div class="modal fade modal-xl ct_otp_modal" id="ct_otp_modal" tabindex="-1" aria-labelledby="ct_otp_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 py-0">
                <button type="button" class="btn-close ct_login_btn_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="ct_login_main">
                    <form [formGroup]="Form">
                        <div class="ct_logo mx-auto mb-2">
                            <img src="img/logo.png" alt="" style="max-width: 276px;">
                        </div>
                        <h2 class="ct_fs_24 text-center  ct_ff_ppneuemontreal-medium ct_mb_56">Otp Verification</h2>
                       
                        <nz-flex nzVertical [nzGap]="20">
                            <nz-flex nzVertical>
                                <nz-input-otp formControlName="otp" [nzLength]="4" [nzSize]="'default'">
                                </nz-input-otp>
                                <span class="ct_text_red mt-2">
                                    {{ validationErrorService.getErrorMessage('OTP', Form.get('otp')) }}
                                </span>
                            </nz-flex>
                        </nz-flex>
                        <div class="ct_mt_30" (click)="onSubmit()">
                            <a class="ct_black_btn w-100 ct_border_radius_5">Send</a>
                        </div>
                        <p class="mb-0 mt-2 text-center ct_ff_ppneuemontreal-book">
                            Already have an account?
                            <a href="javascript:void(0)" class=" text-dark ct_ff_ppneuemontreal-medium"
                                data-bs-toggle="modal" data-bs-target="#ct_login_modal">
                                Sign In
                            </a>
                        </p>
                    </form>
                    <div class="ct_login_left_cnt">
                        <img src="img/login_right_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Pasword modal E -->

<app-reset-password></app-reset-password>