<!-- Forgot Pasword modal S -->
<div class="modal fade modal-xl ct_otp_modal" id="ct_otp_modal" tabindex="-1" aria-labelledby="ct_otp_modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 py-0">
                <button type="button" class="btn-close ct_login_btn_close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="ct_login_main ct_forgot_modal">
                    <form [formGroup]="Form">
                        <div class="ct_logo mx-auto mb-2">
                            <img src="img/logo.png" alt="" style="max-width: 276px;">
                        </div>
                        <h2 class="ct_fs_24 text-center  ct_ff_ppneuemontreal-medium mb-3">Otp Verification</h2>
                        <p class="ct_text_op_07  mb-0 text-center">OTP is sent to
                            <br> {{userEmail}}
                        </p>
                        <nz-flex nzVertical [nzGap]="20" class="mt-3">
                            <nz-flex nzVertical>
                                <nz-input-otp formControlName="otp" [nzLength]="4" [nzSize]="'default'">
                                </nz-input-otp>
                                <span class="ct_text_red mt-2 text-center">
                                    {{ validationErrorService.getErrorMessage('OTP', Form.get('otp')) }}
                                </span>
                            </nz-flex>
                        </nz-flex>
                        <div class="ct_mt_30" (click)="onSubmit()">
                            <a class="ct_black_btn w-100 ct_border_radius_5">Send</a>
                        </div>
                        <button #closeModal type="button" hidden class="ct_outline_btn ct_ff_Matter_Medium"
                            data-bs-dismiss="modal">
                        </button>
                        <p class="mb-0 mt-2 text-center ct_ff_ppneuemontreal-book">
                            Didn't get otp?
                            <a href="javascript:void(0)" (click)="resendOtp()"
                                class=" text-dark ct_ff_ppneuemontreal-medium">
                                Re-Send
                            </a>
                        </p>
                    </form>
                    <div class="ct_login_left_cnt">
                        <img src="img/login_right_img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Pasword modal E -->

<app-reset-password></app-reset-password>

<div class="ct_loader_main" *ngIf="isLoading || isLoadingResend">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>