<header>
  <div class="ct_navbar ct_flex_1" [ngClass]="{ show: isMenuActive }">
    <div class="ct_cursor_pointer ct_logo">
      <img routerLink="/" src="img/logo.png" alt="" [ngClass]="{ ct_change: isHome }" />
    </div>
    <nav>
      <ul>
        <div class="ct_close_menu" (click)="closeMenu(false)">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <li>
          <a routerLink="/" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ "Home" | translate
            }}</a>
        </li>
        <li>
          <a routerLink="/about" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ "AboutUs" |
            translate }}</a>
        </li>
        <li class="position-relative">
          <a (click)="toggleCityDropdown()" [ngClass]="{ ct_change_color: isHome }">{{ "Cities" | translate }}</a>
          <div class="ct_dropdown_menu" [class.show]="isCityDropdownOpen">
            <div class="ct_dropdown_grid">
              <!-- Column 1 -->
              <div class="ct_dropdown_col">
                <h6 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_fw_400">
                  Málaga
                </h6>
                <ol>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">Centro Histórico</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">La Malagueta</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">El Limonar</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">Soho</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">Pedregalejo</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">Teatinos</a>
                  </li>
                </ol>
              </div>
              <!-- Column 2 -->
              <div class="ct_dropdown_col">
                <h6 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_fw_400">
                  Beach Areas
                </h6>
                <ol>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">La Malagueta</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">Pedregalejo</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">El Palo</a>
                  </li>
                  <li>
                    <a routerLink="/list-property" (click)="closeCityDropdown()">Playa de la Misericordia</a>
                  </li>
                </ol>
              </div>
              <!-- Column 3 -->
              <div class="ct_dropdown_col">
                <h6 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_fw_400">
                  Coming Soon
                </h6>
                <ol class="ct_disabled">
                  <li>New neighborhoods</li>
                  <li>(Coming soon)</li>
                </ol>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/list-property" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Properties
          </a>
        </li>
        <li>
          <a routerLink="/lifestyle" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{
            "Lifestyle" | translate }}
          </a>
        </li>

        <li>
          <a routerLink="/contact-us" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{
            "ContactUs" | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="ct_right_menu_links">
    <div class="ct_language_select dropdown notranslate" [ngClass]="{ ct_change_bg: isHome }">
      <img [src]="getImage(selectedLang)" alt="" class="dropdown_img" style="width: 20px; margin-right: 5px" />
      <button class="dropdown-toggle py-2 mt-0" data-bs-toggle="dropdown" aria-expanded="false">
        <!-- {{ getLanguage(selectedLang) }} -->
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="onCustomLangChange('en')">
            <img src="img/USA.png" alt="" style="width: 20px; margin-right: 5px" />
            
          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onCustomLangChange('es')">
            <img src="img/spanish.png" alt="" style="width: 20px; margin-right: 5px" />
            
          </a>
        </li>
      </ul>
    </div>
    <div>
      <button (click)="openLoginModal()" [ngClass]="{ ct_change_bg: isHome }"
        class="ct_white_nowrap ct_outline_btn ct_outline_btn_white">
        <span>{{ "LogIn" | translate }}</span>
        <!-- /<span>{{ 'SignUp' | translate}}</span> -->
      </button>
    </div>
    <div class="ct_menu_toggle" (click)="openMenu(true)">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>

<app-log-in></app-log-in>
<app-sign-up></app-sign-up>
<app-forgot-password></app-forgot-password>