<header>
  <div class="ct_navbar ct_flex_1" [ngClass]="{ show: isMenuActive }">
    <div class="ct_cursor_pointer ct_logo">
      <img routerLink="/" src="img/logo.png" alt="" [ngClass]="{ ct_change: isHome }" />
    </div>
    <nav>
      <ul>
        <div class="ct_close_menu" (click)="closeMenu(false)">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <li>
          <a routerLink="/" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ "Home" | translate
            }}</a>
        </li>
        <li>
          <a routerLink="/about" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{ "AboutUs" |
            translate }}</a>
        </li>
        <li class="position-relative">
          <a (click)="toggleCityDropdown()" [ngClass]="{ ct_change_color: isHome }">{{ "Cities" | translate }}</a>
          <div class="ct_dropdown_menu" [class.show]="isCityDropdownOpen">
            <div class="ct_dropdown_grid">
              <!-- Column 1 -->
              <div class="ct_dropdown_col">
                <h6 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_fw_400">
                  Málaga
                </h6>
                <ol>
                  <li *ngFor="let loc of malagaLocations">
                    <a (click)="closeCityDropdown(loc)">{{ loc.name }}</a>
                  </li>
                </ol>
              </div>
              <!-- Column 2 -->
              <div class="ct_dropdown_col">
                <h6 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_fw_400">
                  Beach Areas
                </h6>
                <ol>
                  <li *ngFor="let loc of beachLocations">
                    <a (click)="closeCityDropdown(loc)">{{ loc.name }}</a>
                  </li>
                </ol>
              </div>
              <!-- Column 3 -->
              <div class="ct_dropdown_col">
                <h6 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_fw_400">
                  Coming Soon
                </h6>
                <ol class="ct_disabled">
                  <li *ngFor="let loc of comingSoon">{{ loc }}</li>
                </ol>
              </div>
            </div>
          </div>
        </li>
        <!-- <li>
          <a routerLink="/list-property" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{"Properties1" | translate}}
          </a>
        </li> -->
        <li>
          <a routerLink="/lifestyle" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{
            "Lifestyle" | translate }}
          </a>
        </li>

        <li>
          <a routerLink="/contact-us" [ngClass]="{ ct_change_color: isHome }" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">{{
            "ContactUs" | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="ct_right_menu_links">
    <div class="ct_language_select dropdown notranslate" [ngClass]="{ ct_change_bg: isHome }">
      <img [src]="getImage(selectedLang)" alt="" class="dropdown_img" style="width: 20px; margin-right: 5px" />
      <button class="dropdown-toggle py-2 mt-0" data-bs-toggle="dropdown" aria-expanded="false">
        <!-- {{ getLanguage(selectedLang) }} -->
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item" (click)="onCustomLangChange('en')">
            <img src="img/USA.png" alt="" style="width: 20px; margin-right: 5px" />

          </a>
        </li>
        <li>
          <a class="dropdown-item" (click)="onCustomLangChange('es')">
            <img src="img/spanish.png" alt="" style="width: 20px; margin-right: 5px" />

          </a>
        </li>
      </ul>
    </div>
    <div>
      @if(token){
      <div class="dropdown ct_custom_dropdown">
        <a class="d-flex align-items-center gap-2 text-dark" data-bs-toggle="dropdown">
          <img [src]="profileImg ? profileImg : 'img/no_pro.png'" class="ct_profile_img">
          <p class="mb-0 text-white ct_ff_ppneuemontreal-book" [ngClass]="{ ct_change_clr: isHome }">{{first_name}}</p>
          <i class="fa-solid fa-angle-down text-white" [ngClass]="{ ct_change_clr: isHome }"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" routerLink="/admin/my-inquires">My Inquires</a></li>
          <li><a class="dropdown-item" routerLink="/admin/saved-properties">Saved Properties</a></li>
          <li><a class="dropdown-item" routerLink="/admin/my-profile">Edit Profile</a></li>
          <li><a class="dropdown-item" routerLink="/admin/change-password">Change Password</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ct_logout_modal">Logout</a></li>
        </ul>
      </div>
      } @else{
      <button [ngClass]="{ ct_change_bg: isHome }" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
        aria-controls="offcanvasWithBothOptions" class="ct_white_nowrap ct_outline_btn ct_outline_btn_white">
        <span>{{ "SignIn" | translate }}</span>
      </button>
      }

      <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button> -->

    </div>
    <div class="ct_menu_toggle" (click)="openMenu(true)">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
</header>

<!-- <app-log-in></app-log-in> -->

<app-forgot-password></app-forgot-password>

<div class="modal fade" id="ct_logout_modal" tabindex="-1" aria-labelledby="ct_delete_postLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header pb-0 border-0">
        <button type="button" class="btn-close ct_close" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <div class="modal-body pb-4">
        <div class="ct_delete_post_modal">
          <figure>
            <div class="ct_delete_post_icon text-center">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_36_4091)">
                  <path
                    d="M24 0C10.7452 0 0 10.7452 0 24V24.036C0 37.2908 10.7092 48 23.964 48H24C37.2548 48 48 37.2908 48 24.036V24C48 10.7452 37.2908 0 24.036 0H24Z"
                    fill="#282828" fill-opacity="0.1" />
                  <path
                    d="M15.6775 33.29H32.321C32.5913 33.29 32.857 33.2198 33.0921 33.0864C33.3272 32.9529 33.5236 32.7608 33.6622 32.5287C33.8008 32.2966 33.8768 32.0325 33.8828 31.7623C33.8889 31.492 33.8246 31.2248 33.6965 30.9868L25.3752 15.5327C24.7849 14.437 23.2136 14.437 22.6233 15.5327L14.302 30.9868C14.1738 31.2248 14.1096 31.492 14.1156 31.7623C14.1216 32.0325 14.1976 32.2966 14.3362 32.5287C14.4748 32.7608 14.6713 32.9529 14.9064 33.0864C15.1415 33.2198 15.4071 33.29 15.6775 33.29Z"
                    stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M23.7189 21.0405L23.9992 26.9976L24.279 21.043C24.2807 21.0049 24.2747 20.9669 24.2612 20.9312C24.2477 20.8956 24.2272 20.8631 24.2007 20.8357C24.1742 20.8082 24.1425 20.7865 24.1073 20.7718C24.0722 20.757 24.0344 20.7496 23.9963 20.75C23.9588 20.7504 23.9219 20.7582 23.8875 20.7731C23.8532 20.788 23.8221 20.8097 23.7963 20.8367C23.7704 20.8638 23.7503 20.8958 23.737 20.9308C23.7237 20.9658 23.7176 21.0031 23.7189 21.0405Z"
                    stroke="black" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M24 30.8984C23.8069 30.8984 23.618 30.8412 23.4575 30.7339C23.2969 30.6266 23.1717 30.474 23.0978 30.2956C23.0239 30.1171 23.0045 29.9208 23.0422 29.7314C23.0799 29.5419 23.1729 29.3679 23.3095 29.2313C23.446 29.0948 23.62 29.0018 23.8095 28.9641C23.9989 28.9264 24.1953 28.9457 24.3737 29.0196C24.5522 29.0936 24.7047 29.2187 24.812 29.3793C24.9193 29.5399 24.9766 29.7287 24.9766 29.9219C24.9766 30.1809 24.8737 30.4293 24.6905 30.6124C24.5074 30.7956 24.259 30.8984 24 30.8984Z"
                    fill="black" />
                </g>
                <defs>
                  <clipPath id="clip0_36_4091">
                    <rect width="48" height="48" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
            <figcaption class="mt-4 text-center">
              <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium">Log Out</h4>
              <p class="mb-0 ct_ff_ppneuemontreal-book ct_text_clr_4B5563">
                Are you sure you want to logout? once you logout you need to
                login
                again.
              </p>
            </figcaption>
          </figure>
          <div class="d-flex justify-content-center border-0 gap-3 ct_modal_footer">
            <button #closeModalAdd type="button" class="ct_outline_btn ct_h_40 w-100 ct_border_radius_10 "
              data-bs-dismiss="modal">Cancel</button>
            <a (click)="logout()" class="ct_border_radius_10 ct_h_40 ct_black_btn  w-100 ct_fw_600 text-center">
              Log
              Out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="offcanvas offcanvas-end login-signupu-modal" data-bs-scroll="true" tabindex="-1"
  id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-tabs login-signup-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="signin-tab" data-bs-toggle="tab" data-bs-target="#signin" type="button"
          role="tab" aria-controls="signin" aria-selected="true">Login</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab"
          aria-controls="signup" aria-selected="false">Signup</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
        <app-log-in></app-log-in>
      </div>
      <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
        <app-sign-up></app-sign-up>
      </div>
    </div>
  </div>
</div>