<section class="ct_hero_banner" style="background-image: url(img/list_property_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_banner_title">
                    <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium" style="max-width: 542px;">{{'TurnYour' |
                        translate}} <img src="img/home_icon.png" height="58px" /> {{'SpaceIntoIncome' | translate}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ct_py_85">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="ct_why_with_img_left">
                    <img src="img/why_list_with_us_about.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div>
                    <h6 class="ct_fs_16 ct_ff_Kantumruy ct_mb_18 ct_text_clr_33393F">{{'WhyListWithUs' | translate}}
                    </h6>
                    <h2 class="ct_fs_40 ct_ff_PPEditorialNew_Regular ct_mb_18 ct_text_clr_212529">
                        {{'ListPropertySubtitle' | translate}}</h2>

                    <ul class="mt-5 ct_why_list_items">
                        <li>
                            <div class="ct_why_list_icon">
                                <img src="img/Verified_safe_icon.png" alt="">
                            </div>
                            <div>
                                <h4 class="ct_ff_PPEditorialNew_Regular mb-2">{{'VerifiedSafeTitle' | translate}}</h4>
                                <p class="mb-0 ct_text_clr_757575 ct_fs_18 ct_ff_ppneuemontreal-book">
                                    {{'VerifiedSafeDescription' | translate}}</p>
                            </div>
                        </li>
                        <li>
                            <div class="ct_why_list_icon">
                                <img src="img/Better_Earnings_cino.png" alt="">
                            </div>
                            <div>
                                <h4 class="ct_ff_PPEditorialNew_Regular mb-2">{{'BetterEarningsTitle' | translate}}</h4>
                                <p class="mb-0 ct_text_clr_757575 ct_fs_18 ct_ff_ppneuemontreal-book">
                                    {{'BetterEarningsDescription' | translate}}</p>
                            </div>
                        </li>
                        <li>
                            <div class="ct_why_list_icon">
                                <img src="img/reach_more_renter_icon.png" alt="">
                            </div>
                            <div>
                                <h4 class="ct_ff_PPEditorialNew_Regular mb-2">{{'ReachMoreRentersTitle' | translate}}
                                </h4>
                                <p class="mb-0 ct_text_clr_757575 ct_fs_18 ct_ff_ppneuemontreal-book">
                                    {{'ReachMoreRentersDescription' | translate}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ct_Smarter_Hosting_bg">
    <div class="container">
        <div class="row">
            <div class="col-xxl-5 col-xl-6 col-lg-6  mb-4 mb-md-0">
                <div class="">
                    <h2 class="ct_fs_40 ct_ff_ppneuemontreal-book mb-3 text-white ct_line_h_65">{{'SmarterHosting' |
                        translate}} <span
                            class="ct_hosting_decoration_btm ct_ff_ppneuemontreal-book ct_fw_600">{{'Hosting' |
                            translate}}</span>{{'BetterEarningsZeroStress' | translate}}</h2>
                    <p class="ct_fs_14 ct_ff_ppneuemontreal-book mb-3 text-white">{{'ListingProcessDescription' |
                        translate}}</p>
                    <ul class="ct_grid_2_col text-white">
                        <li class="d-flex align-items-center gap-2">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="26" height="26" rx="13" fill="#C2E5FF" />
                                <path d="M18.0982 9L10.4682 16.63L7 13.1618" stroke="black" stroke-width="1.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="ct_ff_ppneuemontreal-book">{{'ListingReviewOptimization' | translate}}</span>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="26" height="26" rx="13" fill="#C2E5FF" />
                                <path d="M18.0982 9L10.4682 16.63L7 13.1618" stroke="black" stroke-width="1.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="ct_ff_ppneuemontreal-book">{{'TransparentCommunication' | translate}}</span>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="26" height="26" rx="13" fill="#C2E5FF" />
                                <path d="M18.0982 9L10.4682 16.63L7 13.1618" stroke="black" stroke-width="1.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="ct_ff_ppneuemontreal-book">{{'ProfessionalPresentation' | translate}}</span>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="26" height="26" rx="13" fill="#C2E5FF" />
                                <path d="M18.0982 9L10.4682 16.63L7 13.1618" stroke="black" stroke-width="1.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="ct_ff_ppneuemontreal-book">{{'LocalMarketExpertise' | translate}}</span>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="26" height="26" rx="13" fill="#C2E5FF" />
                                <path d="M18.0982 9L10.4682 16.63L7 13.1618" stroke="black" stroke-width="1.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="ct_ff_ppneuemontreal-book">{{'SecureInquiryHandling' | translate}}</span>
                        </li>
                        <li class="d-flex align-items-center gap-2">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect width="26" height="26" rx="13" fill="#C2E5FF" />
                                <path d="M18.0982 9L10.4682 16.63L7 13.1618" stroke="black" stroke-width="1.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <span class="ct_ff_ppneuemontreal-book">{{'DedicatedOwnerSupport' | translate}}</span>
                        </li>


                    </ul>

                    <div class="ct_mt_35">
                        <a routerLink="/list-form"
                            class="ct_white_btn ct_border_radius_10 ct_ff_ppneuemontreal-medium">{{'ListProperty' |
                            translate}}</a>
                    </div>
                </div>

            </div>
            <div class="col-xxl-7 col-xl-6 col-lg-6   position-relative">
                <div class="ct_smarter_hosting_right">
                    <img src="img/smarter_hosting_right_img.png" alt="">
                </div>
            </div>

        </div>

    </div>
</section>


<section class="ct_pt_77">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="ct_fs_40 ct_ff_PPEditorialNew_Regular" style="max-width: 300px;">{{'HowItWorksTitle' |
                    translate}}</h4>
            </div>
        </div>
        <div class="row ct_mt_40">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <figure class="ct_property_card">
                    <img src="img/property_icon_1.png" alt="">
                    <figcaption>
                        <h4 class="ct_fs_20 ct_ff_ppneuemontreal-medium">{{'HowItWorksStep1Title' | translate}}</h4>
                        <p class="mb-0 ct_mt_10 ct_ff_ppneuemontreal-book">{{'HowItWorksStep1Desc' | translate}}</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <figure class="ct_property_card ct_property_card_line">
                    <img src="img/property_icon_2.png" alt="">
                    <figcaption>
                        <h4 class="ct_fs_20 ct_ff_ppneuemontreal-medium">{{'HowItWorksStep2Title' | translate}}</h4>
                        <p class="mb-0 ct_mt_10 ct_ff_ppneuemontreal-book">{{'HowItWorksStep2Desc' | translate}}</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <figure class="ct_property_card ct_property_card_line">
                    <img src="img/property_icon_3.png" alt="">
                    <figcaption>
                        <h4 class="ct_fs_20 ct_ff_ppneuemontreal-medium">{{'HowItWorksStep3Title' | translate}} </h4>
                        <p class="mb-0 ct_mt_10 ct_ff_ppneuemontreal-book">{{'HowItWorksStep3Desc' | translate}}</p>
                    </figcaption>

                </figure>


            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <figure class="ct_property_card ct_property_card_line">
                    <img src="img/property_icon_4.png" alt="">
                    <figcaption>
                        <h4 class="ct_fs_20 ct_ff_ppneuemontreal-medium">{{'HowItWorksStep4Title' | translate}}</h4>
                        <p class="mb-0 ct_mt_10 ct_ff_ppneuemontreal-book">{{'HowItWorksStep4Desc' | translate}}</p>
                    </figcaption>

                </figure>
            </div>

        </div>

        <div class="ct_pt_77 ">
            <a class="text-dark ct_fs_24 text-center d-block ct_ff_ppneuemontreal-medium">{{'StartListing' |
                translate}} <i class="ms-2 fa-solid fa-arrow-right"></i></a>
        </div>

    </div>
</section>