<section class="ct_hero_banner d-block pb-0">
    <video muted loop playsinline webkit-playsinline preload="auto" style="width:100%; height:100%; object-fit:cover;"
        id="videoPreview">
        <source src="" type="video/mp4">
    </video>
    <div class="container">
        <div class="row">
            <div class="col-md-12 position-relative">
                <div class="ct_banner_title ct_banner_title2">
                    <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium">{{ 'YourNext' | translate}} <img
                            src="img/home_icon.png" height="58px" /> {{'HomeHeader' | translate}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <app-search></app-search>
    </div>
</section>
<section class="second-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mb-4 mb-md-0">
                <div class="ct_home_about_img_div">
                    <img src="img/home_about.png" alt="" class="second-banner">
                </div>
            </div>
            <div class="col-lg-6  mb-4 mb-md-0 offset-lg-1">
                <div class="second-col-div">
                    <p class="ct_fs_16 ct_ff_ppneuemontreal-medium ct_mb_18">{{'AboutRentalaria' | translate}}</p>
                    <h2 class="ct_fs_40 ct_ff_PPEditorialNew_Regular">{{'WeProvide' | translate}}</h2>
                </div>
                <div class="smalle-content-div ct_mt_30">
                    <p class="mb-0 ct_ff_ppneuemontreal-book">{{'OurCarefully' | translate}}</p>
                </div>
                <div class=" ct_mt_18">
                    <p class="big-content ct_ff_ppneuemontreal-book ct_text_clr_33393F ct_line_h_30">{{'FromModern' |
                        translate}}</p>
                    <a routerLink="/property-listing" class="ct_black_btn ct_border_radius_5 ct_mt_18">{{'ExploresHomes'
                        | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="third-section">
    <div class="container third-section-container">
        <div class="third-head-div text-center mx-auto" style="max-width: 665px;">
            <h2 class="ct_fs_40 ct_ff_PPEditorialNew_Regular ct_mb_16">{{'SeamlessRental' | translate}}</h2>
            <p class="ct_fs_18 ct_text_clr_757575 ct_ff_ppneuemontreal-book mb-0">{{'WeSimplify' | translate}}
            </p>
        </div>
        <div class="row ct_mt_40 align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="ct_moden_img_left">
                    <img src="img/Modern_main.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0 offset-lg-1">
                <div class="third-col-div">
                    <div class="first-item-div first-item-div_first_num">
                        <h3 class="ct_fs_24 ct_ff_ppneuemontreal-medium ct_mb_16">1. {{'ExploreCuratedHomes' |
                            translate}}
                        </h3>
                        <p class="mb-0 ct_fs_18 ct_ff_ppneuemontreal-book ct_text_clr_757575">{{'BrowseHandpicked' |
                            translate}}</p>
                    </div>
                </div>
                <div class="third-col-div">
                    <div class="first-item-div first-item-div_second_num">
                        <h3 class="ct_fs_24 ct_ff_ppneuemontreal-medium ct_mb_16">2. {{'SendInquiry' | translate}}</h3>
                        <p class="mb-0 ct_fs_18 ct_ff_ppneuemontreal-book ct_text_clr_757575">{{'ChooseYour' |
                            translate}}</p>
                    </div>
                </div>
                <div class="third-col-div ct_last_third_arrow_hide">
                    <div class="first-item-div first-item-div_third_num pb-0">
                        <h3 class="ct_fs_24 ct_ff_ppneuemontreal-medium ct_mb_16">3. {{'ConfirmYourStay' | translate}}
                        </h3>
                        <p class="mb-0 ct_fs_18 ct_ff_ppneuemontreal-book ct_text_clr_757575">{{'OurTeam' | translate}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fourth-section">
    <div class="container">
        <div class="text-center mb-5 pb-3">
            <p class="ct_fs_16 mb-4 text-white ct_ff_ppneuemontreal-medium">{{'BrowesCollections' | translate}}</p>
            <h2 class="ct_fs_40 text-white ct_ff_PPEditorialNew_Regular mb-0">{{'FindPerfectHome' | translate}}
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <div class="foruth-col-main">
                    <div class="nav flex-column nav-pills me-3 ct_custom_tab" id="v-pills-tab" role="tablist"
                        aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-tab_1-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-tab_1" type="button" role="tab" aria-controls="v-pills-tab_1"
                            aria-selected="true">{{'CityAppartment' | translate}}</button>
                        <button class="nav-link" id="v-pills-tab_2-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-tab_2" type="button" role="tab" aria-controls="v-pills-tab_2"
                            aria-selected="false">{{'BeachfrontHomes' | translate}}</button>
                        <button class="nav-link" id="v-pills-tab_3-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-tab_3" type="button" role="tab" aria-controls="v-pills-tab_3"
                            aria-selected="false">{{'PremiumPenthouse' | translate}}</button>
                        <button class="nav-link" id="v-pills-tab_4-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-tab_4" type="button" role="tab" aria-controls="v-pills-tab_4"
                            aria-selected="false">{{'FamilyFriendly' | translate}}</button>
                        <button class="nav-link" id="v-pills-tab_5-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-tab_5" type="button" role="tab" aria-controls="v-pills-tab_5"
                            aria-selected="false">{{'WorkRemote' | translate}}</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 mb-5 mb-md-0">
                <div class="tab-content h-100" id="v-pills-tabContent">
                    <div class="tab-pane fade show active h-100" id="v-pills-tab_1" role="tabpanel"
                        aria-labelledby="v-pills-tab_1-tab">
                        <div class="ct_broswe_collection_bg" style=" background-image: url(img/Perfect_1.jpg);">
                            <div class="ct_broswe_collection_card">
                                <h4 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_mb_10">Modern living
                                    in the heart of Málaga</h4>
                                <p class="ct_ff_ppneuemontreal-book ct_fs_12 mb-0">Stylish, well-located
                                    apartments in Málaga’s liveliest neighborhoods perfect for long
                                    stays with comfort and convenience.</p>
                                <div class="d-flex align-items-center gap-3 ct_mt_30">
                                    <div class="ct_users_group_imgs">
                                        <img src="img/user_1.jpg" alt="">
                                        <img src="img/user_2.jpg" alt="">
                                        <img src="img/user_3.jpg" alt="">
                                        <img src="img/user_4.jpg" alt="">
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                        </div>
                                        <p class="mb-0 ct_fs_12 ct_ff_ppneuemontreal-book mt-2"
                                            style="max-width: 90px;">Loved by 200+ customers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade h-100" id="v-pills-tab_2" role="tabpanel"
                        aria-labelledby="v-pills-tab_2-tab">
                        <div class="ct_broswe_collection_bg" style=" background-image: url(img/Perfect_2.jpg);">
                            <div class="ct_broswe_collection_card">
                                <h4 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_mb_10">Coastal
                                    living with stunning Mediterranean views</h4>
                                <p class="ct_ff_ppneuemontreal-book ct_fs_12 mb-0">Relaxed coastal
                                    living with stunning sea views and direct access to Málaga’s
                                    beaches perfect for peaceful long stays.</p>
                                <div class="d-flex align-items-center gap-3 ct_mt_30">
                                    <div class="ct_users_group_imgs">
                                        <img src="img/user_1.jpg" alt="">
                                        <img src="img/user_2.jpg" alt="">
                                        <img src="img/user_3.jpg" alt="">
                                        <img src="img/user_4.jpg" alt="">
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                        </div>
                                        <p class="mb-0 ct_fs_12 ct_ff_ppneuemontreal-book mt-2"
                                            style="max-width: 90px;">Loved by 200+ customers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade h-100" id="v-pills-tab_3" role="tabpanel"
                        aria-labelledby="v-pills-tab_3-tab">
                        <div class="ct_broswe_collection_bg" style=" background-image: url(img/Perfect_3.png);">
                            <div class="ct_broswe_collection_card">
                                <h4 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_mb_10">Elevated
                                    comfort with exceptional space & stunning views</h4>
                                <p class="ct_ff_ppneuemontreal-book ct_fs_12 mb-0">Spacious,
                                    design-forward penthouses with premium finishes, private terraces,
                                    and breathtaking views.</p>
                                <div class="d-flex align-items-center gap-3 ct_mt_30">
                                    <div class="ct_users_group_imgs">
                                        <img src="img/user_1.jpg" alt="">
                                        <img src="img/user_2.jpg" alt="">
                                        <img src="img/user_3.jpg" alt="">
                                        <img src="img/user_4.jpg" alt="">
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                        </div>
                                        <p class="mb-0 ct_fs_12 ct_ff_ppneuemontreal-book mt-2"
                                            style="max-width: 90px;">Loved by 200+ customers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade h-100" id="v-pills-tab_4" role="tabpanel"
                        aria-labelledby="v-pills-tab_4-tab">
                        <div class="ct_broswe_collection_bg" style=" background-image: url(img/Perfect_4.png);">
                            <div class="ct_broswe_collection_card">
                                <h4 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_mb_10">Comfortable
                                    living designed for long family stays</h4>
                                <p class="ct_ff_ppneuemontreal-book ct_fs_12 mb-0">Comfortable, fully
                                    equipped properties with extra space and essential amenities ideal
                                    for longer stays with children.</p>
                                <div class="d-flex align-items-center gap-3 ct_mt_30">
                                    <div class="ct_users_group_imgs">
                                        <img src="img/user_1.jpg" alt="">
                                        <img src="img/user_2.jpg" alt="">
                                        <img src="img/user_3.jpg" alt="">
                                        <img src="img/user_4.jpg" alt="">
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                        </div>
                                        <p class="mb-0 ct_fs_12 ct_ff_ppneuemontreal-book mt-2"
                                            style="max-width: 90px;">Loved by 200+ customers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade h-100" id="v-pills-tab_5" role="tabpanel"
                        aria-labelledby="v-pills-tab_5-tab">
                        <div class="ct_broswe_collection_bg" style=" background-image: url(img/Perfect_5.jpg);">
                            <div class="ct_broswe_collection_card">
                                <h4 class="ct_fs_20 ct_ff_PPEditorialNew_Regular ct_mb_10">Quiet,
                                    productive spaces for effortless remote living</h4>
                                <p class="ct_ff_ppneuemontreal-book ct_fs_12 mb-0">Quiet, well-designed
                                    apartments with strong WiFi and dedicated work areas perfect for
                                    digital nomads and remote professionals.</p>
                                <div class="d-flex align-items-center gap-3 ct_mt_30">
                                    <div class="ct_users_group_imgs">
                                        <img src="img/user_1.jpg" alt="">
                                        <img src="img/user_2.jpg" alt="">
                                        <img src="img/user_3.jpg" alt="">
                                        <img src="img/user_4.jpg" alt="">
                                    </div>
                                    <div>
                                        <div class="d-flex align-items-center gap-1">
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                            <i class="fa-solid fa-star ct_yellow_star"></i>
                                        </div>
                                        <p class="mb-0 ct_fs_12 ct_ff_ppneuemontreal-book mt-2"
                                            style="max-width: 90px;">Loved by 200+ customers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ct_propert_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="ct_fs_16 ct_text_clr_33393F  ct_ff_ppneuemontreal-medium  mb-4">{{'Properties' | translate}}
                </p>
                <h4 class="ct_fs_40 ct_ff_PPEditorialNew_Regular">{{'CuratedHomes' | translate}}</h4>
                <p class="mb-0 ct_fs_18 ct_ff_ppneuemontreal-book ct_text_clr_757575 mx-auto" style="max-width: 700px;">
                    {{'ExperienceThoughtfully' | translate}}</p>
            </div>
        </div>
        <div class="row ct_mt_40">
            <div class="col-lg-12">
                <div class="position-relative">
                    <div class="swiper mySwiper" style="max-width: calc(100% - 90px);">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <figure class="ct_product_card">
                                    <div class="ct_product_img">
                                        <img src="img/product_img_11.jpg" alt="">
                                        <span class="ct_ff_ppneuemontreal-bold">€1,800 /
                                            month</span>
                                    </div>
                                    <figcaption class="ct_mt_18">
                                        <a href="property-details.html">
                                            <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">
                                                Sunset View Apartment</h4>
                                        </a>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/location_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Calle Marina 42, Málaga, Spain</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/house_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Premium Apartment</p>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bed_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        5 Bed</p>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bath_tub_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        2 Bath</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="ct_product_card">
                                    <div class="ct_product_img">
                                        <img src="img/product_img_22.jpg" alt="">
                                        <span class="ct_ff_ppneuemontreal-bold">€1,800 /
                                            month</span>
                                    </div>
                                    <figcaption class="ct_mt_18">
                                        <a href="property-details.html">
                                            <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">
                                                Sunset View Apartment</h4>
                                        </a>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/location_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Calle Marina 42, Málaga, Spain</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/house_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Premium Apartment</p>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bed_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        5 Bed</p>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bath_tub_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        2 Bath</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="ct_product_card">
                                    <div class="ct_product_img">
                                        <img src="img/product_img_33.jpg" alt="">
                                        <span class="ct_ff_ppneuemontreal-bold">€1,800 /
                                            month</span>
                                    </div>
                                    <figcaption class="ct_mt_18">
                                        <a href="property-details.html">
                                            <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">
                                                Sunset View Apartment</h4>
                                        </a>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/location_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Calle Marina 42, Málaga, Spain</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/house_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Premium Apartment</p>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bed_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        5 Bed</p>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bath_tub_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        2 Bath</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="ct_product_card">
                                    <div class="ct_product_img">
                                        <img src="img/product_img_44.jpg" alt="">
                                        <span class="ct_ff_ppneuemontreal-bold">€1,800 /
                                            month</span>
                                    </div>
                                    <figcaption class="ct_mt_18">
                                        <a href="property-details.html">
                                            <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">
                                                Sunset View Apartment</h4>
                                        </a>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/location_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Calle Marina 42, Málaga, Spain</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/house_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Premium Apartment</p>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bed_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        5 Bed</p>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bath_tub_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        2 Bath</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="swiper-slide">
                                <figure class="ct_product_card">
                                    <div class="ct_product_img">
                                        <img src="img/product_img_44.jpg" alt="">
                                        <span class="ct_ff_ppneuemontreal-bold">€1,800 /
                                            month</span>
                                    </div>
                                    <figcaption class="ct_mt_18">
                                        <a href="property-details.html">
                                            <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">
                                                Sunset View Apartment</h4>
                                        </a>
                                        <ul>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/location_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Calle Marina 42, Málaga, Spain</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/house_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        Premium Apartment</p>
                                                </div>
                                            </li>
                                            <li class="d-flex align-items-center gap-3">
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bed_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        5 Bed</p>
                                                </div>
                                                <div class="d-flex align-items-center gap-2">
                                                    <img src="img/bath_tub_icon.png" alt="">
                                                    <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">
                                                        2 Bath</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- Navigation buttons -->
                    </div>
                    <div class="swiper-button-next">
                    </div>
                    <div class="swiper-button-prev">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="ct_testimonial_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="ct_fs_16 ct_text_clr_33393F  ct_ff_ppneuemontreal-medium  mb-4">{{'Testimonials' | translate}}
                </p>
                <h4 class="ct_fs_40 ct_ff_PPEditorialNew_Regular">{{'WhatGuestsSaying' | translate}}</h4>
                <p class="mb-0 ct_fs_18 ct_ff_ppneuemontreal-book ct_text_clr_757575 mx-auto">{{'RealExperiences' |
                    translate}}</p>
                <div class="swiper-pagination"></div>
            </div>
            <div class="col-md-12">
                <div class="swiper ct_testimonial_slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="ct_testimonial_card">
                                <div class="mb-4">
                                    <h2 class="ct_fs_30 ct_ff_PPEditorialNew_Regular mb-1">Lucas
                                        Daniel</h2>
                                    <p class="mb-0 ct_ff_20 ct_ff_ppneuemontreal-book ct_text_clr_757575">
                                        Spain</p>
                                </div>
                                <p class="ct_para_scroll ct_custom_scroll ct_fs_18 ct_text_clr_757575 mx-auto mb-0 ct_ff_ppneuemontreal-book"
                                    style="max-width: 742px;">“Truly the best rental experience we’ve
                                    had. Every detail was taken care of the apartment was immaculate,
                                    stylish, and exactly as described. The team was always available
                                    and incredibly professional.”</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <p class="ct_fs_16 ct_text_clr_33393F  ct_ff_ppneuemontreal-medium  mb-4">FAQ’S</p>
                <h4 class="ct_fs_40 ct_ff_PPEditorialNew_Regular ct_mb_15">{{'NeedClarity' | translate}}
                </h4>
                <ul class="ct_testimonial_by_tabs ct_flex_col_767 ">
                    <li class="ct_w_100_767">
                        <button class="ct_testimonial_tabs_link ct_w_100_767">
                            <img src="img/faq_tab_img_1.jpg" alt=""><span class="ct_ff_ppneuemontreal-book">Renting &
                                Booking</span>
                        </button>
                    </li>
                    <li class="ct_w_100_767">
                        <button class="ct_testimonial_tabs_link ct_w_100_767">
                            <img src="img/faq_tab_img_2.jpg" alt=""><span class="ct_ff_ppneuemontreal-book">Tenant
                                Support</span>
                        </button>

                    </li>
                    <li class="ct_w_100_767">
                        <button class="ct_testimonial_tabs_link ct_w_100_767">
                            <img src="img/faq_tab_img_3.jpg" alt=""><span class="ct_ff_ppneuemontreal-book">Property
                                Owners</span>
                        </button>

                    </li>
                </ul>
                <div class="ct_faq_question_main ct_mt_40">
                    <div class="accordion" id="faq_accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faq_one">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsefaq_one" aria-expanded="false"
                                    aria-controls="collapsefaq_one">
                                    {{'question1' | translate}}
                                </button>
                            </h2>
                            <div id="collapsefaq_one" class="accordion-collapse collapse show" aria-labelledby="faq_one"
                                data-bs-parent="#faq_accordionExample">
                                <div class="accordion-body">
                                    <p class="ct_fs_16 mb-3 ct_line_h_30">{{'answer1' | translate}}</p>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqtwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsefaq_Two" aria-expanded="true" aria-controls="collapseTwo">
                                    {{'question1' | translate}}
                                </button>
                            </h2>
                            <div id="collapsefaq_Two" class="accordion-collapse collapse " aria-labelledby="faqtwo"
                                data-bs-parent="#faq_accordionExample">
                                <div class="accordion-body">
                                    {{'answer2' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqthree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsefaq_Three" aria-expanded="false"
                                    aria-controls="collapsefaq_Three">
                                    {{'question3' | translate}}
                                </button>
                            </h2>
                            <div id="collapsefaq_Three" class="accordion-collapse collapse" aria-labelledby="faqthree"
                                data-bs-parent="#faq_accordionExample">
                                <div class="accordion-body">
                                    {{'answer3' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsefaq_Four" aria-expanded="false"
                                    aria-controls="collapsefaq_Four">
                                    {{'question4' | translate}}
                                </button>
                            </h2>
                            <div id="collapsefaq_Four" class="accordion-collapse collapse" aria-labelledby="faqFour"
                                data-bs-parent="#faq_accordionExample">
                                <div class="accordion-body">
                                    {{'answer4' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="faqFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsefaq_Five" aria-expanded="false"
                                    aria-controls="collapsefaq_Five">
                                    {{'question5' | translate}}
                                </button>
                            </h2>
                            <div id="collapsefaq_Five" class="accordion-collapse collapse" aria-labelledby="faqFive"
                                data-bs-parent="#faq_accordionExample">
                                <div class="accordion-body">
                                    {{'answer5' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4 mb-lg-0 offset-lg-1">
                <div class="ct_faq_right_section">
                    <img src="img/faq_right_img.gif" alt="">
                    <form>
                        <h5 class="ct_ff_ppneuemontreal-medium ct_fs_18 mb-4">{{'FindAnswer' | translate}}</h5>
                        <div class="form-group mb-2">
                            <input type="text" class="form-control ct_input ct_border_radius_5 ct_transparent_input"
                                placeholder="{{'FullName' | translate}}">

                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control ct_input ct_border_radius_5 ct_transparent_input"
                                placeholder="{{'EmailId' | translate}}">

                        </div>
                        <div class="form-group">
                            <textarea class="form-control ct_input ct_border_radius_5 ct_transparent_input h-auto"
                                placeholder="{{'YourMessage' | translate}}"></textarea>

                        </div>
                        <button class="ct_black_btn w-100 ct_mt_40">
                            {{'Submit' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="ct_dont_miss_section text-center">
                <h2 class="ct_fs_40 ct_ff_PPEditorialNew_Regular ct_mb_15 text-white  mx-auto"
                    style="max-width: 800px;">{{'PremiumRentalHeading' | translate}}</h2>
                <p class="mb-0 ct_ff_ppneuemontreal-book  text-white mx-auto" style="max-width: 688px;">
                    {{'PremiumRentalDescription' | translate}}</p>
                <div class="ct_mt_40">
                    <a routerLink="/property-listing" class="ct_white_btn ct_border_radius_5 ct_fit_content mx-auto">
                        {{'ExploresHomes' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>