<!-- Table -->
<div class="">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center ct_mb_30 ct_flex_col_767 gap-3">
        <h6 class="mb-0 ct_fs_24 ct_ff_ppneuemontreal-medium">
            Change Password
        </h6>
    </div>


    <div>
        <div class="">
            <form [formGroup]="form" class="">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="" class="ct_ff_ppneuemontreal-book mb-2">Current Password</label>
                            <div class="position-relative">
                                <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                                    class="form-control ct_input ct_border_op_10 ct_input_ps_50 ct_input_pe_50"
                                    placeholder="Enter Current Password" formControlName="current_password">
                                <img src="img/lock_outline_icon.svg" alt="" class="ct_input_icon_left">
                                <i class="fa-regular ct_show_eye"
                                    [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="togglePasswordVisibility1()"></i>
                            </div>
                            <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                                class="err_msg">
                                <div *ngIf="form.controls['current_password'].errors?.['required']">Current
                                    password is
                                    required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="" class="ct_ff_ppneuemontreal-book mb-2">New Password</label>
                            <div class="position-relative">
                                <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                    class="form-control ct_input ct_border_op_10 ct_input_ps_50 ct_input_pe_50"
                                    placeholder="Enter New Password" formControlName="new_password">
                                <img src="img/lock_outline_icon.svg" alt="" class="ct_input_icon_left">
                                <i class="fa-regular ct_show_eye"
                                    [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="togglePasswordVisibility2()"></i>
                            </div>
                            <div class="err_msg"
                                *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">

                                <div *ngIf="form.controls['new_password'].errors?.['required']; else checkMinLength">
                                    New password is required.
                                </div>

                                <ng-template #checkMinLength>
                                    <div *ngIf="form.controls['new_password'].errors?.['minlength'];">
                                        New password must be at least 8 characters long.
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-4">
                            <label for="" class="ct_ff_ppneuemontreal-book mb-2">Confirm New Password</label>
                            <div class="position-relative">
                                <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                    class="form-control ct_input ct_border_op_10 ct_input_ps_50 ct_input_pe_50"
                                    placeholder="Confirm New Password" formControlName="confirm_password">
                                <img src="img/lock_outline_icon.svg" alt="" class="ct_input_icon_left">
                                <i class="fa-regular ct_show_eye"
                                    [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                    (click)="togglePasswordVisibility3()"></i>
                            </div>
                            <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                                class="err_msg">
                                <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                    Confirm password is required.</div>
                                <div
                                    *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                    Passwords do not match.</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-5 d-flex align-items-center gap-3">
                    <!-- <button class="ct_outline_btn px-4 ct_border_radius_5">Cancel</button> -->
                    <button (click)="submitForm()" class="ct_black_btn ct_border_radius_5 px-4">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
    <div class="loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>