<!-- Table -->
<div class="">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center ct_mb_30 ct_flex_col_767 gap-3">
        <h6 class="mb-0 ct_fs_24 ct_ff_ppneuemontreal-medium">
            Saved Properties
        </h6>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of allProperties">
            <figure class="ct_product_card">
                <div class="ct_product_img">
                    <img [src]="item.images[0]" alt="">
                    <span class="ct_ff_ppneuemontreal-bold">€{{item.monthly_rent}} / month</span>
                    <div class="ct_hear_like_icon" (click)="toggleFavourite(item)">
                        <i class="fa-heart heart-icon" [ngClass]="{
                           'fa-regular': !item.isWishlist,
                           'fa-solid': item.isWishlist,
                           'ct_heart_black': item.isWishlist
                        }">
                        </i>
                    </div>

                </div>
                <figcaption class="ct_mt_18">
                    <a [routerLink]="['/admin/my-property-details']" [queryParams]="{property_id: item.property_id}">
                        <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">{{item.property_name}}</h4>
                    </a>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/location_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book ct_overlay_text">{{item.address}}
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/home_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Sea-View Condo</p>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bed_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">{{item?.total_bedrooms}} Bed</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bath_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">{{item?.total_bathrooms}} Bath</p>
                            </div>
                        </li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
</div>