<!-- Table -->
<div class="">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center ct_mb_30 ct_flex_col_767 gap-3">
        <h6 class="mb-0 ct_fs_28 ct_ff_PPEditorialNew_Regular">
            Saved Properties
        </h6>

    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <figure class="ct_product_card">
                <div class="ct_product_img">
                    <img src="img/product_img_44.jpg" alt="">
                    <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                    <div class="ct_hear_like_icon">
                        <i class="fa-solid fa-heart"></i>

                    </div>
                </div>
                <figcaption class="ct_mt_18">
                    <a routerLink="/admin/my-property-details">
                        <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View Apartment</h4>
                    </a>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/location_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Av. del Puerto 18, Valencia, Spain
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/home_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Sea-View Condo</p>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bed_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bath_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                            </div>
                        </li>
                    </ul>
                </figcaption>
            </figure>

        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <figure class="ct_product_card">
                <div class="ct_product_img">
                    <img src="img/product_img_45.jpg" alt="">
                    <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                    <div class="ct_hear_like_icon">
                        <i class="fa-solid fa-heart"></i>

                    </div>
                </div>
                <figcaption class="ct_mt_18">
                    <a routerLink="/admin/my-property-details">
                        <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View Apartment</h4>
                    </a>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/location_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Av. del Puerto 18, Valencia, Spain
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/home_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Sea-View Condo</p>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bed_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bath_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                            </div>
                        </li>
                    </ul>
                </figcaption>
            </figure>

        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <figure class="ct_product_card">
                <div class="ct_product_img">
                    <img src="img/product_img_46.jpg" alt="">
                    <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                    <div class="ct_hear_like_icon">
                        <i class="fa-solid fa-heart"></i>

                    </div>
                </div>
                <figcaption class="ct_mt_18">
                    <a routerLink="/admin/my-property-details">
                        <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View Apartment</h4>
                    </a>
                    <ul>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/location_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Av. del Puerto 18, Valencia, Spain
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/home_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Sea-View Condo</p>
                            </div>
                        </li>
                        <li class="d-flex align-items-center gap-3">
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bed_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                            </div>
                            <div class="d-flex align-items-center gap-2">
                                <img src="img/bath_outline_icon.svg" alt="">
                                <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                            </div>
                        </li>
                    </ul>
                </figcaption>
            </figure>
        </div>
    </div>
</div>