<!-- Table -->
<div class="">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center ct_mb_30 ct_flex_col_767 gap-3">
        <h6 class="mb-0 ct_fs_28 ct_ff_PPEditorialNew_Regular">
            <a routerLink="/admin/saved-properties" class="text-dark ct_ff_PPEditorialNew_Regular"><i
                    class="fa-solid fa-chevron-left"></i></a>
            Property Details
        </h6>
        <small class="ct_text_clr_6E6F76 ct_ff_ppneuemontreal-book ">
            <img src="img/solar_calendar-outline.svg" alt="" class="me-1"> Sent on 30 Jun 25
        </small>
    </div>

    <!-- Property Card -->
    <div class="ct_card mb-4">
        <div class="d-flex gap-3 ct_flex_col_767 align-items-center">
            <img [src]="mediaList[0]" class="ct_property_img">

            <div class="flex-grow-1 w-100">
                <div class="d-flex justify-content-between align-items-center mb-2 gap-2 ct_flex_1 w-100">
                    <h6 class="mb-0 ct_fs_20 ct_ff_ppneuemontreal-medium ct_overlay_text">
                        {{propertyDetails?.property_name}}</h6>
                    <!-- <span class="ct_badge_pending ct_ff_ppneuemontreal-medium">{{propertyDetails?.status}}</span> -->
                </div>

                <p class="text-muted ct_mb_10 ct_ff_ppneuemontreal-book">
                    <img src="img/location_outline_icon.svg" alt="" class="me-1">
                    {{propertyDetails?.address}}
                </p>
                <p class="text-muted ct_mb_10">
                    <img src="img/home_outline_icon.svg" alt="" class="me-1">
                    {{propertyDetails?.property_type}}
                </p>

                <div class="d-flex gap-4 flex-wrap mt-2">
                    <small class="ct_ff_ppneuemontreal-book d-flex align-items-center gap-1"> <img
                            src="img/bed_outline_icon.svg" alt="" class="me-1"> {{propertyDetails?.total_bedrooms}}
                        Bed</small>
                    <small class="ct_ff_ppneuemontreal-book d-flex align-items-center gap-1"> <img
                            src="img/squere_outline_icon.svg" alt="" class="me-1"> {{propertyDetails?.square_footage}}
                        sq. ft</small>
                    <small class="ct_ff_ppneuemontreal-book d-flex align-items-center gap-1"> <img
                            src="img/bath_outline_icon.svg" alt="" class="me-1"> {{propertyDetails?.total_bathrooms}}
                        Bath</small>
                </div>

                <h6 class="d-block ct_mt_20 ct_fs_18 ct_ff_ppneuemontreal-medium">€{{propertyDetails?.monthly_rent}} /
                    month</h6>
            </div>
        </div>
    </div>
    <div class="ct_card mb-4" *ngIf="propertyDetails?.amenities">
        <h6 class="ct_mb_10 ct_fs_22 ct_ff_ppneuemontreal-medium ">Ameneties</h6>

        <div>
            <button class="ct_show_all_images_btn me-2" data-bs-toggle="modal" data-bs-target="#imagePreviewModal">
                <i class="fa-regular fa-image me-1"></i>
                Show all Photos
            </button>

            @if(activeVideo){
            <button class="ct_show_all_images_btn" data-bs-toggle="modal" data-bs-target="#videoPreviewModal">
                <i class="fa-regular fa-image me-1"></i>
                Show Video
            </button>
            }
        </div>
        

        <ul class="ct_para_scroll ct_custom_scroll ct_amenties_list mt-4 ct_pe_30">
            <li *ngFor="let item of propertyDetails?.amenities">
                {{item.name}}
            </li>
        </ul>

    </div>
    <!-- Submission -->
    <div class="ct_card mb-4">
        <h6 class="ct_mb_10 ct_fs_22 ct_ff_ppneuemontreal-medium ">Rent & Availability</h6>

        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book">Monthly rent</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">€{{propertyDetails?.monthly_rent}}</div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book">Security deposit</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">€{{propertyDetails?.security_deposit}}</div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book">Availability</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">From {{propertyDetails?.available_from |
                    date:'dd/MM/yyyy'}}</div>
            </div>
        </div>
    </div>

    <div class="ct_card mb-4" *ngIf="houseRules">
        <h6 class="ct_mb_10 ct_fs_22 ct_ff_ppneuemontreal-medium ">House Rules</h6>
        <ul class="ps-4" style="list-style: disc;">
            <li class="ct_text_clr_4B5563 ct_text_op_08 ct_ff_ppneuemontreal-book mb-1" *ngFor="let rule of houseRules">
                {{rule}}</li>
        </ul>
    </div>


    <div class="ct_card mb-4" *ngIf="nearbyLocation">
        <h6 class="ct_mb_10 ct_fs_22 ct_ff_ppneuemontreal-medium ">Getting Around</h6>
        <ul class="ps-4" style="list-style: disc;">
            <li class="ct_text_clr_4B5563 ct_text_op_08 ct_ff_ppneuemontreal-book mb-1"
                *ngFor="let rule of nearbyLocation">
                {{rule}}</li>
        </ul>
    </div>
</div>










<div class="modal fade modal-xl" id="imagePreviewModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header border-0">
                <h4 class="mb-0">All Photos</h4>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <nz-image-group>
                    <div class="row g-3 ct_custom_scroll" style="max-height:70vh;overflow:auto">

                        @for (item of mediaList; track $index) {
                        @if (!item.endsWith('.mp4')) {
                        <div class="col-lg-4 col-md-6 col-12">
                            <img nz-image [nzSrc]="item" class="w-100 ct_cursor_pointer"
                                style="height:220px;object-fit:cover" />
                        </div>
                        }
                        }

                    </div>
                </nz-image-group>
            </div>

        </div>
    </div>
</div>


<div class="modal fade modal-lg p-0" id="videoPreviewModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-transparent">
            <div class="modal-body text-center position-relative p-0">
                <button class="btn-close btn-close-white position-absolute video-cloe-btn"
                    data-bs-dismiss="modal"></button>
                <video [src]="activeVideo" controls class="w-100 ct_border_radius_10"
                    style="max-height:70vh; object-fit: cover;">
                </video>
            </div>
        </div>
    </div>
</div>