<section class="ct_hero_banner" style="background-image: url(img/about_banner_bg.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="ct_banner_title">
          <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium">{{'Discover' | translate}} <img
              src="img/home_icon.png" height="58px" /> {{'GuidesToSmarterRenting' | translate}}</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-5 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-xxl-2 col-xl-8 col-lg-8 mb-4 mb-lg-0">
        <div class="row">
          <div class="col-lg-6 mb-4"
            *ngFor="let item of allLifestiles | paginate: { itemsPerPage: 10, currentPage: p }">
            <figure class="ct_life_style_card">
              <div class="ct_life_style_img">
                <img [src]="item.cover_image" alt="">
              </div>
              <figcaption class="ct_mt_18">
                <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">{{item.created_at |
                  date:'dd-MMM-yyyy'}}</small>
                <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">{{item.title}}</h6>
                <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">{{item.short_description}}
                </p>
                <a [routerLink]="['/view-lifestyle']" [queryParams]="{blog_id: item.blog_id}"
                  class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i
                    class="fa-solid fa-arrow-right"></i></a>
              </figcaption>
            </figure>
          </div>
          <pagination-controls class="ct_pagination_div" *ngIf="!(allLifestiles?.length == 0)"
            (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
      <!-- <div class="col-xxl-3 col-xl-4 col-lg-4 mb-4 mb-lg-0">
        <app-lifestyle-sidebar></app-lifestyle-sidebar>
      </div> -->
    </div>
  </div>
</section>