<section class="ct_hero_banner" style="background-image: url(img/about_banner_bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_banner_title">
                    <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium">Discover <img
                            src="img/home_icon.png" height="58px" /> Guides to Smarter Renting</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-8 mb-4 mb-lg-0">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <figure class="ct_life_style_card">
                             <div  class="ct_life_style_img">
                                    <img src="img/product_img_11.jpg" alt="">
                                </div>
                                 <figcaption class="ct_mt_18">
                                    <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
                                    <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">Culture & City Life</h6>
                                    <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">Málaga offers a rich cultural scene shaped by history, art, and everyday local life. From world-class museums to vibrant streets and neighborhood traditions, the city blends heritage with a modern, relaxed lifestyle.</p>

                                    <a routerLink="/view-lifestyle" class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i class="fa-solid fa-arrow-right"></i></a>
                                 </figcaption>

                        </figure>

                    </div>
                    <div class="col-lg-6 mb-4">
                        <figure class="ct_life_style_card">
                             <div  class="ct_life_style_img">
                                    <img src="img/product_img_11.jpg" alt="">
                                </div>
                                 <figcaption class="ct_mt_18">
                                    <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
                                    <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">Culture & City Life</h6>
                                    <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">Málaga offers a rich cultural scene shaped by history, art, and everyday local life. From world-class museums to vibrant streets and neighborhood traditions, the city blends heritage with a modern, relaxed lifestyle.</p>

                                    <a routerLink="/view-lifestyle" class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i class="fa-solid fa-arrow-right"></i></a>
                                 </figcaption>

                        </figure>

                    </div>
                     <div class="col-lg-6 mb-4">
                        <figure class="ct_life_style_card">
                             <div  class="ct_life_style_img">
                                    <img src="img/product_img_11.jpg" alt="">
                                </div>
                                 <figcaption class="ct_mt_18">
                                    <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
                                    <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">Culture & City Life</h6>
                                    <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">Málaga offers a rich cultural scene shaped by history, art, and everyday local life. From world-class museums to vibrant streets and neighborhood traditions, the city blends heritage with a modern, relaxed lifestyle.</p>

                                    <a routerLink="/view-lifestyle" class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i class="fa-solid fa-arrow-right"></i></a>
                                 </figcaption>

                        </figure>

                    </div>
                    <div class="col-lg-6 mb-4">
                        <figure class="ct_life_style_card">
                             <div  class="ct_life_style_img">
                                    <img src="img/product_img_11.jpg" alt="">
                                </div>
                                 <figcaption class="ct_mt_18">
                                    <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
                                    <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">Culture & City Life</h6>
                                    <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">Málaga offers a rich cultural scene shaped by history, art, and everyday local life. From world-class museums to vibrant streets and neighborhood traditions, the city blends heritage with a modern, relaxed lifestyle.</p>

                                    <a routerLink="/view-lifestyle" class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i class="fa-solid fa-arrow-right"></i></a>
                                 </figcaption>

                        </figure>

                    </div>
                     <div class="col-lg-6 mb-4">
                        <figure class="ct_life_style_card">
                             <div  class="ct_life_style_img">
                                    <img src="img/product_img_11.jpg" alt="">
                                </div>
                                 <figcaption class="ct_mt_18">
                                    <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
                                    <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">Culture & City Life</h6>
                                    <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">Málaga offers a rich cultural scene shaped by history, art, and everyday local life. From world-class museums to vibrant streets and neighborhood traditions, the city blends heritage with a modern, relaxed lifestyle.</p>

                                    <a routerLink="/view-lifestyle" class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i class="fa-solid fa-arrow-right"></i></a>
                                 </figcaption>

                        </figure>

                    </div>
                    <div class="col-lg-6 mb-4">
                        <figure class="ct_life_style_card">
                             <div  class="ct_life_style_img">
                                    <img src="img/product_img_11.jpg" alt="">
                                </div>
                                 <figcaption class="ct_mt_18">
                                    <small class="ct_text_clr_35383C ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
                                    <h6 class="ct_fs_18 ct_ff_ppneuemontreal-medium mt-1">Culture & City Life</h6>
                                    <p class="ct_minimise_cnt ct_text_44525E ct_ff_ppneuemontreal-book ct_fs_14">Málaga offers a rich cultural scene shaped by history, art, and everyday local life. From world-class museums to vibrant streets and neighborhood traditions, the city blends heritage with a modern, relaxed lifestyle.</p>

                                    <a routerLink="/view-lifestyle" class="text-dark ct_ff_ppneuemontreal-medium ct_fs_14 d-flex align-items-center gap-2">Explore <i class="fa-solid fa-arrow-right"></i></a>
                                 </figcaption>

                        </figure>

                    </div>

                </div>

            </div>
            <div class="col-xxl-3 col-xl-4 col-lg-4 mb-4 mb-lg-0">
                 <div class="ct_blog_sidebar">

    <!-- Search -->
    <div class="mb-4">
      <label class="ct_blog_label ct_fs_20 ct_ff_ppneuemontreal-medium">Search</label>
      <div class="position-relative">
        <input type="text" class="form-control ct_search ct_ff_ppneuemontreal-book" placeholder="Enter keyword">
        <span class="ct_search_icon_blog"><i class="fa-solid fa-search"></i></span>
      </div>
    </div>

    <!-- Featured Experiences -->
    <div class="mb-4">
      <label class="ct_blog_label ct_ff_ppneuemontreal-medium ">Featured Experiences</label>

      <div class="ct_feature_item">
        <img src="https://picsum.photos/80/80?1">
        <div>
          <small class="ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
          <p class="mb-0 ct_ff_ppneuemontreal-medium">Coastal neighborhoods, sea views, and everyday beach life.</p>
        </div>
      </div>

      <div class="ct_feature_item">
        <img src="https://picsum.photos/80/80?2">
        <div>
          <small class="ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
          <p class="ct_ff_ppneuemontreal-medium mb-0">Cafés, chiringuitos, and Málaga’s culinary culture.</p>
        </div>
      </div>

      <div class="ct_feature_item">
        <img src="https://picsum.photos/80/80?3">
        <div>
          <small class="ct_ff_ppneuemontreal-medium">MARCH 26, 2024</small>
          <p class="ct_ff_ppneuemontreal-medium mb-0">Cafés, chiringuitos, and Málaga’s culinary culture.</p>
        </div>
      </div>
    </div>

    <!-- Tags -->
    <div class="mb-4">
      <label class="ct_blog_label ct_ff_ppneuemontreal-medium">Tags</label>
      <div class="d-flex flex-wrap gap-2">
        <span class="ct_tag ct_ff_ppneuemontreal-book">Lifestyle</span>
        <span class="ct_tag ct_ff_ppneuemontreal-book dark">City Living</span>
        <span class="ct_tag ct_ff_ppneuemontreal-book">Interior Design</span>
      </div>
    </div>

    <!-- Instagram -->
    <div class="mb-4">
      <label class="ct_blog_label ct_ff_ppneuemontreal-medium">Instagram</label>
      <div class="row g-2">
        <div class="col-4"><img src="img/product_img_22.jpg" class="ct_insta"></div>
        <div class="col-4"><img src="img/product_img_22.jpg" class="ct_insta"></div>
        <div class="col-4"><img src="img/product_img_22.jpg" class="ct_insta"></div>
        <div class="col-4"><img src="img/product_img_22.jpg" class="ct_insta"></div>
        <div class="col-4"><img src="img/product_img_22.jpg" class="ct_insta"></div>
        <div class="col-4"><img src="img/product_img_22.jpg" class="ct_insta"></div>
      </div>
    </div>

    <!-- Banner -->
    <div class="ct_ad_banner">
      <img src="img/blog_ad_banner.png" alt="">
    </div>
    </div>

            </div>

        </div>

    </div>
</section>