<section class="ct_hero_banner pb-5" style="background-image: url(img/property_listing_bg.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_banner_title">
                    <h2 class="ct_fs_55 text-white ct_ff_ppneuemontreal-medium" style="max-width: 100%;">Premium
                        properties in Málaga</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ct_py_77">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="ct_filter_btn ct_mb_20">
                    <p class="mb-0 ct_fs_18 ct_ff_ppneuemontreal-book d-flex align-items-center gap-2 ">
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.45833 0.625H14.7917C15.0127 0.625 15.2246 0.712797 15.3809 0.869078C15.5372 1.02536 15.625 1.23732 15.625 1.45833V2.78C15.625 3.001 15.5371 3.21292 15.3808 3.36917L10.0358 8.71417C9.87954 8.87041 9.79171 9.08234 9.79167 9.30333V14.5575C9.79166 14.6842 9.76278 14.8092 9.70722 14.923C9.65166 15.0368 9.57087 15.1365 9.47101 15.2144C9.37115 15.2924 9.25483 15.3465 9.13091 15.3727C9.00698 15.399 8.87871 15.3966 8.75583 15.3658L7.08917 14.9492C6.90896 14.904 6.74901 14.8 6.63471 14.6535C6.52042 14.5071 6.45834 14.3266 6.45833 14.1408V9.30333C6.45829 9.08234 6.37046 8.87041 6.21417 8.71417L0.869167 3.36917C0.712876 3.21292 0.625047 3.001 0.625 2.78V1.45833C0.625 1.23732 0.712797 1.02536 0.869078 0.869078C1.02536 0.712797 1.23732 0.625 1.45833 0.625Z"
                                stroke="#0D0D0D" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        Filters
                    </p>
                </div>
                <div class="ct_filter_side_bar">
                    <div class="ct_filter_close">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                    <div class="ct_filter_side_bar_scroll ct_custom_scroll">
                        <div class="position-relative">
                            <input type="text"
                                class="form-control ct_input ct_border_radius_15 ct_h_48  bg-transparent ps-5"
                                placeholder="Search location..">
                            <i class="fa-solid fa-search ct_input_icon_left "></i>
                        </div>
                        <div class="ct_mt_26">
                            <p class=" ct_ff_ppneuemontreal-medium ct_mb_15">Price range</p>
                            <div class="slider-container">
                                <input type="range" min="240" max="550" value="460" class="ct_range_slider"
                                    id="myRange">
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <span class="ct_fs_14 ct_ff_ppneuemontreal-book">€240</span>
                                    <span class="ct_fs_14 ct_ff_ppneuemontreal-book">€550+</span>
                                </div>
                            </div>
                        </div>
                        <div class="ct_mt_26">
                            <p class=" ct_ff_ppneuemontreal-medium ct_mb_15">Bathrooms</p>
                            <ul class="ct_grid_2_col">
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">1</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">2</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">3</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">4+</label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="ct_mt_26">
                            <p class=" ct_ff_ppneuemontreal-medium ct_mb_15">Bedrooms</p>
                            <ul class="ct_grid_2_col">
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">1</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">2</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">4</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">5+</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="ct_mt_26">
                            <p class=" ct_ff_ppneuemontreal-medium ct_mb_15">Ameneties</p>
                            <ul class="">
                                <li>
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">Furnished</label>
                                    </div>
                                </li>
                                <li class="ct_mt_15">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">Air Conditioned</label>
                                    </div>
                                </li>
                                <li class="ct_mt_15">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">Wi-Fi</label>
                                    </div>
                                </li>
                                <li class="ct_mt_15">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">Laundry</label>
                                    </div>
                                </li>
                                <li class="ct_mt_15">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">Parking</label>
                                    </div>
                                </li>
                                <li class="ct_mt_15">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">Kitchen Access</label>
                                    </div>
                                </li>
                                <li class="ct_mt_15">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label for="" class="ct_ff_ppneuemontreal-book">CCTV</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ct_mt_40 px-4">
                        <button class="ct_black_btn w-100 ct_h_45">Apply filters</button>
                        <button class="ct_outline_btn  w-100 ct_h_45 mt-3 ">Clear</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-4">
                        <figure class="ct_product_card">
                            <div class="ct_product_img">
                                <img src="img/product_img_11.jpg" alt="">
                                <span class="ct_ff_ppneuemontreal-bold">€1,800 / month</span>
                            </div>
                            <figcaption class="ct_mt_18">
                                <a routerLink="/view-property">
                                    <h4 class="ct_fs_18 ct_ff_ppneuemontreal-medium mb-2 text-truncate">Sunset View
                                        Apartment</h4>
                                </a>
                                <ul>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/location_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Calle Marina 42, Málaga,
                                                Spain</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/house_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">Premium Apartment</p>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bed_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">5 Bed</p>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="img/bath_tub_icon.png" alt="">
                                            <p class="ct_fs_15 mb-0 ct_ff_ppneuemontreal-book">2 Bath</p>
                                        </div>
                                    </li>
                                </ul>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>