<div class="row">
    <div class="col-md-12">
        <div class="ct_grid_2 ct_search_sections_filter">
            <div class="ct_serach_filter_flex">
                <div class="form-group">
                    <label class="ct_fs_16 ct_ff_ppneuemontreal-medium"><img src="img/search_icon_12.svg" alt=""
                            class="me-2">{{'Search' | translate}}</label>
                    <input type="search" class="form-control px-0 pb-0 ct_input border-0 ct_ff_ppneuemontreal-book"
                        placeholder="{{'EnterKeyWords' | translate}}...">
                </div>
                <div class="form-group">
                    <label class="ct_fs_16 ct_ff_ppneuemontreal-medium"><img src="img/location_big.svg" alt=""
                            class="me-2">{{'Location' | translate}}</label>
                    <select class="form-control px-0 pb-0 ct_input border-0 ct_ff_ppneuemontreal-book">
                        <option>{{'SelectLocation' | translate}}</option>
                        <option>Málaga</option>
                        <option>Madrid</option>
                        <option>Barcelona</option>
                        <option>Valencia</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="ct_fs_16 ct_ff_ppneuemontreal-medium"><img src="img/calender_icon_11.svg" alt=""
                            class="me-2">{{'StartDate' | translate}}</label>
                    <input type="date" class="form-control px-0 pb-0 ct_input border-0 ct_ff_ppneuemontreal-book"
                        placeholder="Enter Keywords">
                </div>
                <div class="form-group">
                    <label class="ct_fs_16 ct_ff_ppneuemontreal-medium"><img src="img/calender_icon_11.svg" alt=""
                            class="me-2">{{'EndDate' | translate}}</label>
                    <input type="date" class="form-control px-0 pb-0 ct_input border-0 ct_ff_ppneuemontreal-book"
                        placeholder="Enter Keywords">
                </div>
            </div>
            <div class="ct_w_100_991">
                <button class="ct_black_btn ct_border_radius_5 ct_w_100_991"><img src="img/search_icon_12.svg" alt=""
                        class="me-2">{{'Search' | translate}}</button>
            </div>
        </div>
    </div>
</div>