<!-- Table -->
<div class="">
    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center ct_mb_30 ct_flex_col_767 gap-3">
        <h6 class="mb-0 ct_fs_28 ct_ff_PPEditorialNew_Regular">
            <i class="fa-solid fa-chevron-left me-2" routerLink="/admin/my-inquires"></i>
            Inquiry Details
        </h6>
        <small class="ct_text_clr_6E6F76 ct_ff_ppneuemontreal-book ">
            <img src="img/solar_calendar-outline.svg" alt="" class="me-1"> Sent on {{inquirieData?.inquiry_created_at |
            date:'dd-MMM-yyyy'}}
        </small>
    </div>

    <!-- Property Card -->
    <div class="ct_card mb-4">
        <div class="d-flex gap-3 ct_flex_col_767 align-items-center">
            <img [src]="inquirieData?.property_images[0]" class="ct_property_img">

            <div class="flex-grow-1 w-100">
                <div class="d-flex justify-content-between align-items-center mb-2 gap-2 ct_flex_1 w-100">
                    <h6 class="mb-0 ct_fs_20 ct_ff_ppneuemontreal-medium ct_overlay_text">{{inquirieData?.full_name}}
                    </h6>
                    <!-- <span class="ct_badge_pending ct_ff_ppneuemontreal-medium">{{inquirieData?.status}}</span> -->
                    <!-- <span class="ct_badge_closed ct_ff_ppneuemontreal-medium">Closed</span> -->
                </div>

                <p class="text-muted ct_mb_10 ct_ff_ppneuemontreal-book">
                    <img src="img/location_outline_icon.svg" alt="" class="me-1">
                    {{inquirieData?.address}}
                </p>
                <p class="text-muted ct_mb_10">
                    <img src="img/home_outline_icon.svg" alt="" class="me-1">
                    {{inquirieData?.property_type}}
                </p>

                <div class="d-flex gap-4 flex-wrap mt-2">
                    <small class="ct_ff_ppneuemontreal-book d-flex align-items-center gap-1"> <img
                            src="img/bed_outline_icon.svg" alt="" class="me-1"> {{inquirieData?.total_bedrooms}}
                        Bed</small>
                    <small class="ct_ff_ppneuemontreal-book d-flex align-items-center gap-1"> <img
                            src="img/squere_outline_icon.svg" alt="" class="me-1"> {{inquirieData?.square_footage}} sq.
                        ft</small>
                    <small class="ct_ff_ppneuemontreal-book d-flex align-items-center gap-1"> <img
                            src="img/bath_outline_icon.svg" alt="" class="me-1"> {{inquirieData?.total_bathrooms}}
                        Bath</small>
                </div>

                <h6 class="d-block ct_mt_20 ct_fs_18 ct_ff_ppneuemontreal-medium">€{{inquirieData?.monthly_rent}} /
                    month</h6>
            </div>
        </div>
    </div>

    <!-- Submission -->
    <div class="ct_card">
        <h6 class="ct_mb_30 ct_fs_22 ct_ff_ppneuemontreal-medium ">Your Submission</h6>

        <div class="row g-3">
            <div class="col-md-4">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book"><img
                        src="img/user_outline_icon.svg" alt="" class="me-1"> Your Name</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">{{inquirieData?.full_name}}</div>
            </div>

            <div class="col-md-4">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book"><img
                        src="img/mail_outline_icon.svg" alt="" class="me-1">Your Email Address</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">{{inquirieData?.email}}</div>
            </div>

            <div class="col-md-4">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book"><img
                        src="img/phone_outline_icon.svg" alt="" class="me-1">Phone Number</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">{{inquirieData?.phone}}</div>
            </div>

            <div class="col-md-4">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book"><img
                        src="img/calander_outline_icon.svg" alt="" class="me-1">Move-in Date</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">{{inquirieData?.move_in_date | date:'dd-MMM-yyyy'}}</div>
            </div>

            <div class="col-md-4">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book"><img
                        src="img/clock_outline_icon.svg" alt="" class="me-1">Move-out Date</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">{{inquirieData?.move_out_date | date:'dd-MMM-yyyy'}}</div>
            </div>

            <!-- <div class="col-md-4">
                <div class="ct_label mb-2 d-flex align-items-center ct_ff_ppneuemontreal-book"><img
                        src="img/stay_home_outline_icon.svg" alt="" class="me-1">Reason for Stay</div>
                <div class="ct_value ct_fs_18  ct_ff_ppneuemontreal-book">Work relocation - 6 month contract</div>
            </div> -->
        </div>

        <hr class="my-4" style="border-color: #E5E5E5;">

        <div>
            <div class="ct_label  mb-2 ct_ff_ppneuemontreal-book">Message</div>
            <p class="mb-0 text-muted ct_ff_ppneuemontreal-book ct_para_scroll ct_custom_scroll">
                {{inquirieData?.message || 'N/A'}}
            </p>
        </div>
    </div>
</div>